.recipe-otd-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px 10px;
}

.recipe-otd-image {
  height: 40vh;
  min-width: 45vw;
  overflow: hidden;
  border:  1px solid;
  border-radius: 5%;
  box-shadow: 3px 3px 3px #888888;
}

.recipe-otd-prep-steps {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .recipe-otd-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0px 10px;
  }

  .recipe-otd-prep-steps {
    margin: 0 0 0 15px;
  }

  .recipe-otd-image {
    min-height: 60vh;
    min-width: 45vw;
  }
}